<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

    <div class="container">
    	<div class="about">

            <% var total = 0; %>

            <% if(result.results.status1 == "W"){%>
                <% total += 100 - result.results.money1 %>
            <% } %>

            <% if(result.results.status2 == "W"){%>
                <% total += 100 - result.results.money2 %>
            <% } %>

            <% if(result.results.status3 == "W"){%>
                <% total += 100 - result.results.money3 %>
            <% } %>

    		

            <div class="panel panel-info">
                <div class="panel-heading"><h4><center>Game Summary</center></h4></div>
                <div class="panel-body">

                    You have now finished the game!! Here are your summary statistics on how well you did:
                    <li><b>Round 1 Summary:</b>
                        <ul>
                            <% if(result.results.status1 == "W"){%>
                                <li><%= result.results.opponent %> accepted your offer of $<%=result.results.money3 %>.</li>
                                <li>You won $<%= result.results.money1 %>!!</li>
                            <% } else{ %>
                                <li><%= result.results.opponent %> did not accept your offer of $<%=result.results.money3 %>.</li>
                            <% } %>
                        </ul>
                    </li> 
                    <hr>
                    <li><b>Round 2 Summary:</b>
                        <ul>
                            <% if(result.results.status2 == "W"){%>
                                <li><%= result.results.opponent %> accepted your offer of $<%=result.results.money2 %>.</li>
                                <li>You won $<%= result.results.money2 %>!!</li>
                            <% } else{ %>
                                <li><%= result.results.opponent %> did not accept your offer of $<%=result.results.money2 %>.</li>
                            <% } %>
                        </ul>
                    </li>   
                    <hr>
                    <li><b>Round 3 Summary:</b>
                        <ul>
                            <% if(result.results.status3 == "W"){%>
                                <li><%= result.results.opponent %> accepted your offer of $<%=result.results.money3 %>.</li>
                                <li>You won $<%= result.results.money3 %>!!</li>
                            <% } else{ %>
                                <li><%= result.results.opponent %> did not accept your offer of $<%=result.results.money3 %>.</li>
                            <% } %>
                        </ul>
                    </li>                 

                    <hr> 
                    
                    <center><h1>Total Winnings After 3 Rounds: $<%=total%></h1></center>
                </div>
            </div>
            
            <br>
            <br>
    		<a href="postgame" class="btn btn-success btn-lg">Continue Questionnaire</a>
    	</div>
    </div>
	
</body>

<script type="text/javascript">

</script>

</html>